
<section class="content-header">

    <ol class="breadcrumb">
        <li><a href="/Admin/Home/AdminHomeIndex"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="/Admin/Product/ProductList">Product List</a></li>
        <li class="active">Add Product</li>
    </ol>
</section>
